In [1]:
#!pip install nltk

import nltk

C:\Users\Akash_Shrivastava\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\Akash_Shrivastava\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\.libs\libopenblas.QVLO2T66WEPI7JZ63PS3HMOHFEY472BC.gfortran-win_amd64.dll
C:\Users\Akash_Shrivastava\AppData\Local\Continuum\anaconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
from nltk import word_tokenize, sent_tokenize

In [3]:
Text = """ During the II world war in 1941,  it was a difficult time for our  family at Rameswaram. I was a ten 
year old boy then.  War had almost  reached our doors of Rameswaram since the cloud of war had already reached Colombo. 
Almost everything was a rarity from food articles to anything.  Ours was a large joint family. The size of our family was five sons and five daughters and three of whom had families """

In [4]:
tokenize_word = nltk.word_tokenize(Text)

In [5]:
tokenize_word

['During',
 'the',
 'II',
 'world',
 'war',
 'in',
 '1941',
 ',',
 'it',
 'was',
 'a',
 'difficult',
 'time',
 'for',
 'our',
 'family',
 'at',
 'Rameswaram',
 '.',
 'I',
 'was',
 'a',
 'ten',
 'year',
 'old',
 'boy',
 'then',
 '.',
 'War',
 'had',
 'almost',
 'reached',
 'our',
 'doors',
 'of',
 'Rameswaram',
 'since',
 'the',
 'cloud',
 'of',
 'war',
 'had',
 'already',
 'reached',
 'Colombo',
 '.',
 'Almost',
 'everything',
 'was',
 'a',
 'rarity',
 'from',
 'food',
 'articles',
 'to',
 'anything',
 '.',
 'Ours',
 'was',
 'a',
 'large',
 'joint',
 'family',
 '.',
 'The',
 'size',
 'of',
 'our',
 'family',
 'was',
 'five',
 'sons',
 'and',
 'five',
 'daughters',
 'and',
 'three',
 'of',
 'whom',
 'had',
 'families']

In [7]:
tokenize_sent = nltk.sent_tokenize(Text)

In [8]:
tokenize_sent

[' During the II world war in 1941,  it was a difficult time for our  family at Rameswaram.',
 'I was a ten \nyear old boy then.',
 'War had almost  reached our doors of Rameswaram since the cloud of war had already reached Colombo.',
 'Almost everything was a rarity from food articles to anything.',
 'Ours was a large joint family.',
 'The size of our family was five sons and five daughters and three of whom had families']